<script src="/socket.io/socket.io.js"></script>
<script>
  window.io = io();
</script>

<script src='/dist/src/build.js'></script>
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,500,600,200' rel='stylesheet' type='text/css'>
<div id='app-target'></div>
